

<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>PreacherApp</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Qual é a sua dúvida Bíblica?</h1>
    <form method="post">
        
        <input type="text" id="question" name="question" value="{{ question }}" placeholder="Envie uma pergunta..." class="texto">
        <input type="submit" value="Enviar" onsubmit="clearTextarea()">
    </form>

    <div id="respostap">
        {% if question and answer %}
        
            <p>{{ answer }}</p>
        {% endif %}
    </div>

    
    <script>
        function clearTextarea() {
          document.getElementsById("question").value = '';
        }
        </script>
</body>
</html> -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>PreacherApp</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Qual é a sua dúvida Bíblica?</h1>
    <form method="post" onsubmit="clearTextarea()">
        <div class="question-container">
            <input type="text" id="question" name="question" value="{{ question }}" placeholder="Envie uma pergunta..." class="texto">
            <input type="submit" value="Enviar" class="enviar-button">
        </div>
    </form>

    <div id="respostap">
        {% if question and answer %}
            <p>{{ answer }}</p>
        {% endif %}
    </div>

    <script>
        function clearTextarea() {
            document.getElementById('question').value = '';
        }
    </script>
</body>
</html>
